.main-container{
  display: flex;
  justify-content: center;


}
.bookings{
  text-align: center;
  font-size: 30px;
}
.seat-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  
  margin: 20px;
}